*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-weight:2px;
    color: white;
    
}
#imgs{
    margin: 190px 0 40px 0;
    text-align: center;
}
body{
    background-color: black;
}
form{
    margin: auto;
    width: 80%;
    max-width: 500px;
    height: 30px;
    display: flex;
    align-items: center;
    border: 0.1px solid rgb(96, 96, 96);
    
}
form input{
    flex:1;
    height: 100%;
    border: 1px solid white;
    color: white;
    padding: 0 30px;
    background: transparent;
}
form button{
    width: 70px;
    padding: 0 10px;
    height: 100%;
    background:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    font-size: 14px;
    cursor: pointer;
    border: none;
}


#showMore{
    padding: 5px 8px;
    margin: 10px auto 100px;

    background:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    border-radius: 0;
    font-size: 14px;
    cursor: pointer;
    border: 0;
    outline: 0;
display: none;
}
#search-result{
    width: 80%;
    margin: 100px auto 50px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
#search-result img{
    width:100%;
    height: 100%;
    object-fit:cover;
    border-radius: 0;

}

img{
    width:50px;
    height:35px;
    margin-right: 5px;
}
#logo{
    display: flex;
    padding: 30px 50px;
    margin-left: 20px;
}
#logo-name{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
}
nav{
    display: flex;
}
#links{
    padding: 35px 50px;
    margin-left: 950px;
    font-size: 15px;
}
a{
    text-decoration: none;
    justify-content: space-around;
    margin-left: 15px;

}