*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-weight: lighter;
}
h1{
    margin: 100px auto;
    text-align: center;
}
body{
    background-color: black;
    color: white;
}
