*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-weight: lighter;
}
h1{
    margin: 100px auto;
    text-align: center;
}
body{
    background-color: black;
    color: white;
}
form{
    margin: auto;
    width: 90%;
    max-width: 600px;
    height: 30px;
    display: flex;
    align-items: center;
    
}
input{
    flex:1;
    height: 100%;
    border: 1px solid white;
    opacity: .1;
    color: white;
}